  .countdown {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 1em;
  }

  .countdown .movie-date {
    text-transform: uppercase;
    color: #bbb;
    font-size: 0.9rem;
    font-weight: 700;
  }
  
  .countdown ul {
    padding-left: 0;
  }
  
  .countdown li {
    text-align: center;
    display: inline-block;
    font-size: 0.85rem;
    color: whitesmoke;
    list-style-type: none;
    padding: 4px;
    padding-top: 0;
    text-transform: uppercase;
  }
  
  .countdown li span {
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
  }