#fixed-btn {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0; 
}
#amazon-btn{
  background-color:#131921;
  padding: 1rem;
  font-size: large;
}
#amazon-btn:hover{
  background-color: rgb(63, 124, 173);
}
#notion-btn{
  background-color: #131921;
  padding: 1rem;
  font-size: large;
} 
#notion-btn:hover{
  background-color: rgb(173, 79, 63);
}
 .countdown {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 1em;
  }

  .countdown .movie-date {
    text-transform: uppercase;
    color: #bbb;
    font-size: 0.9rem;
    font-weight: 700;
  }
  
  .countdown ul {
    padding-left: 0;
  }
  
  .countdown li {
    text-align: center;
    display: inline-block;
    font-size: 0.85rem;
    color: whitesmoke;
    list-style-type: none;
    padding: 4px;
    padding-top: 0;
    text-transform: uppercase;
  }
  
  .countdown li span {
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
  }